body {
    background-color:#11181C ;
    display: flex;
    align-items: center;
    justify-content: center;
}
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
  }
.wrapContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
}
.sectionMain {
    background-image: url('../../img/div.png');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.imgFinger {
    max-width: 400px;
    margin-right: 40px;
}
.mainText {
    text-align: center;
font-family: Manrope;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 100% */
letter-spacing: -2px;
background: linear-gradient(180deg, #C8C7FE 0%, #FBF8FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1340px) {
    .mainText {
        font-size: 40px; 
        line-height: 40px; /* 100% */
    } 
}
@media screen and (max-width: 860px) {
    .imgFinger {
max-width: 200px;
    } 
    .mainText {
        font-size: 30px; 
        line-height: 32px; /* 100% */
    } 
}
@media screen and (max-width: 580px) {
    .imgFinger {
max-width: 160px;
margin-right: 16px;
    } 
    .mainText {
        font-size: 22px; 
        line-height: 24px; /* 100% */
    } 
}

@media screen and (max-width: 480px) {
    .imgFinger {
        max-width: 100px;
            } 
    .main_text {
        font-size: 18px;
        line-height: 20px;
        margin-top: 20px;
    }
    .wrapContainer {
        padding: 20px;
    }
}
@media screen and (max-width: 334px) {
    .imgFinger {
        max-width:60px;
            } 
    .mainText {
        font-size: 16px;
        line-height: 18px;
        margin-top: 20px;
    }
    .wrapContainer {
        padding: 10px;
    }
}

